{% extends "base.html.twig" %}
{% block title %}User{% endblock %}
{% block body %}
    <h1>User page</h1>
    <a href="{{ absolute_url(path('admin')) }}">back</a>
    <h2>{{ person.fname }} {{ person.lname }}</h2>
{% endblock %}